<div  class= "mt-4" >
  <%= gravatar_for @user , size: 200 %>
</div>

<h1 class="text-center mt-3 text-white"> <%= @user.username %> </h1>

<% if logged_in?  && @user == current_user %>
  <div class="text-center mt-4"> 
   <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-light btn-lg" %>
   <%= link_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %> 
  </div>
<% end %>

<h2 class="text-center mt-5 text-white"> Articles </h2>

<div class="apple_pagination">
  <%= will_paginate @articles , :container => false %>
</div>

<%= render 'articles/article' %>